# DEFAULT 필수
# message id 별로 각각 알림 설정 추가
# message id 가 없을 경우 DEFAULT 값 사용
# 공통: type, enable_time (시작시간-종료시간. 항상 받을 경우 생략)

DEFAULT:
  - type: 'telegram'
    token: ''
    chat_id: ''
    disable_notification: false
    enable_time: '09-23'
  - type: 'discord'
    webhook: ''
    enable_time: '09-23'


system_start:
  - type: 'telegram'
    token: ''
    chat_id: ''
    disable_notification: false
  - type: 'discord'
    webhook: ''
