#flask
Flask
Flask-SQLAlchemy
Flask-Login
Flask-Cors
#Flask-Markdown
Flask-SocketIO
python-engineio
python-socketio
Werkzeug
Jinja2

# common util
apscheduler
pytz
requests
discord-webhook
pyyaml
telepot-mod
Flask-Dropzone
psutil
slack-sdk

# filemanager
pillow

gevent
gevent-websocket
pycryptodome
json_fix
